.reveal blockquote {
  font-style: normal;
  padding: 0.05em 0.7em;
  border-radius: 0.3em;
}

.reveal blockquote > p {
  font-style: normal;
  font-size: 0.8em;
}

.lang img {
  max-width: 1em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  img {
    padding: 0;
    padding-bottom: 0.15em;
    padding-right: 0.3em;
    vertical-align: middle;
    margin: 0;
    max-width: 1.4em !important;
  }
}

.reveal p > img {
  padding: 0;
  padding-right: 0.2em;
  vertical-align: top;
  margin: 0;
  max-width: 1.2em !important;
}
